.footerStyle {
    text-align: center;
    align-items: center;
    background-color: var(--primaryDark);
    padding: 4% 4% 0% 8%;
}

.footerData {
    display: flex;
    flex-direction: row;
    gap: 8%;
    font-size: x-small;
    justify-content: center;
}

.mentionsLegales{
    color: #FFFFFF;
}

.mentionsLegales:hover{
    cursor: pointer;
}

.footerLogo{
    width: 15%;
}

@media only screen and (max-width: 920px) {
    .footerLogo{
        width: 25%
    }
}

@media only screen and (max-width: 620px) {
    .footerLogo{
        width: 40%
    }
}